.section--reviws {
    width: 100%;
    max-width: 100%;
   
  }
  
  .ul--review {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 1rem 0;
    overflow: hidden;
  }
  
  .review-card {
    margin: 10px;
    padding: 10px;
    width: 300px;
    background-color: var(--bg-header);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .review-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
  }
  
  .review-card img {
    object-fit: cover;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 95px;
    height: 95px;
    border-radius: 50%;
    overflow: hidden;
  }

  .review-card-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .review-details {
    padding: 1.5rem;
    color: var( --morph1);
   
  }

  .reviews__h3 {
    padding: 1rem;
    color: rgb(14, 13, 13);
  }
  
  .review-details h3 {
    font-size: 1.2em;
    margin-bottom: 0.5rem;
  }
  
  /* .review-profession {
    font-size: 0.95em;
    color: var(--text-color);
    font-weight: 600;
    margin: 0.5rem 0 1rem;
  } */
  
  .review-message {
    font-style: italic;
    color: var(--text-color);
  }
  
  /* .review-rating {
    color: gold;
    font-size: 1.5em;
    margin-top: 1rem;
  } */
  
  @media (max-width:550px) {
    .review-card {
      width: 90%;
  
    }
  }
  